<header>
  <nav>
    <%= link_to 'Exams', exams_path %>
    <%= link_to 'Courses', courses_path %>
    <%= link_to 'Exercises', exercises_path %>

    <div id="usermanagement">
      <%= link_to 'Register' %>
      <%= link_to 'Login' %>
    </div>
  </nav>

  <h1><%= link_to 'Inkling', root_path %></h1>
  <h2>Tenttitärpistö</h2>
</header>