<p id="notice"><%= notice %></p>

<header>
    <h1><%= @exam.course.name %><br/>
    <%= @exam.exam_type %> <%= @exam.date %></h1>
</header>

<section>
  <% if @exam.exercises.empty? %>
    <p>No known exercises.</p>
  <% else %>
    <% @exam.exercises.each do |exercise| %>
      <section class="exercise">
        <section>
          <header>
            <h1>Question</h1>
          </header>
          <%= raw exercise.to_html(exercise.question) %>
        </section>

        <section>
          <header>
            <h1>Suggested answer</h1>
          </header>
          <%= raw exercise.to_html(exercise.answer) %>
        </section>

        <section>
          <header>
            <h1>Scoring criteria</h1>
          </header>
          <%= raw exercise.to_html(exercise.criteria) %>
        </section>
      </section>
    <% end %>
  <% end %>
</section>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
