<% content_for :header do %>
  <%= @course.name %>
<% end %>

<section>
  University course ID: <a href="http://www.cs.helsinki.fi/courses/<%= @course.hy_id %>"><%= @course.hy_id %></a>
</section>

<section>
  <p>This course is <% unless @course.active %>NOT<% end %> currently active.</p>
</section>

<section>
  <header>
    <h1>Exams</h1>
  </header>
  <% if @course.exams.empty? %>
     <p>No known exams.</p>
  <% else %>
  <ul>
    <% @course.exams.each do |exam|%>
      <li> <%= link_to exam, exam_path(exam) %></li>
    <% end %>
  </ul>
  <% end %>
</section>

<section>
  <header>
    <h1>Exercises</h1>
  </header>
  <%= render 'exercises/list', exercises:@course.exercises %>
</section>

<section class="toolbelt">
  <%= link_to 'Edit', edit_course_path(@course) %><%= link_to 'Back', courses_path %>
</section>

