<header>
  <h1>Courses</h1>
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hy</th>
      <th>Exams</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course) %></td>
        <td><%= course.hy_id %></td>
        <td><%= course.exams.size %></td>
        <td><%= course.active %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Hy</th>
      <th>Exams</th>
      <th>Active</th>
    </tr>
  </tfoot>
</table>

<%= link_to 'New Course', new_course_path %>
