<% content_for :header do %>
  <%= @exam.course.name %><br/>
  <%= @exam.exam_type %> <%= @exam.date %>
<% end %>

<section>
  <% if @exam.exercises.empty? %>
    <p>No known exercises.</p>
  <% else %>
    <% @exam.exercises.each do |exercise| %>
      <section class="exercise">
        <section>
          <header>
            <h1>Question</h1>
            <%= link_to "##{exercise.id}", exercise_path(exercise) %>
          </header>
          <%= raw exercise.to_html(exercise.question) %>
        </section>

        <section>
          <header>
            <h1>Suggested answer</h1>
          </header>
          <%= raw exercise.to_html(exercise.answer) %>
        </section>

        <section>
          <header>
            <h1>Scoring criteria</h1>
          </header>
          <%= raw exercise.to_html(exercise.criteria) %>
        </section>
      </section>
    <% end %>
  <% end %>
</section>

<section class="toolbelt">
  <%= link_to 'Edit', edit_exam_path(@exam) %><%= link_to 'Back', exams_path %>
</section>

